asgiref==3.2.3
astroid==2.3.3
autopep8==1.4.4
Babel==2.8.0
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.13.2
coverage==5.0.3
cssselect2==0.2.2
defusedxml==0.6.0
Django==3.0.2
django-crispy-forms==1.8.1
django-phonenumber-field==4.0.0
django-weasyprint==0.5.5
freezegun==0.3.14
gunicorn==20.0.4
html5lib==1.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pep8==1.7.1
phonenumbers==8.11.2
Pillow==7.0.0
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.1
pytz==2019.3
reportlab==3.5.34
selenium==3.141.0
six==1.14.0
sqlparse==0.3.0
tinycss2==1.0.2
typed-ast==1.4.0
urllib3==1.25.7
WeasyPrint==51
webencodings==0.5.1
wrapt==1.11.2
xhtml2pdf==0.2.4
