{% load staticfiles %}
{% load static %}
<html>
<head>
    <title>Invoicing App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <style>
            /* td, th {
                border: 1px solid #999 !important;
                padding: 0.5rem;
            } */

            .invoice-total {
                /* text-align: right; */
                font-weight:bold ;
                /* border-top: 3px solid #dee2e6; */
            }

            .invoice {
                /* Center the invoice table */
                margin: 0 auto;
            }
        </style>
</head>
<body>
    <div class="container">

        <div class="nav-left">
            <h1><a href="/">Invoicing App</a></h1>
        </div>
        <div class="nav-right">
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="#">Sign Up</a></li>


            </ul>

        </div>


        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}</p>
            <p><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}


        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
