{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


{% comment %} Main user dashboard {% endcomment %}
{% block content %}
        <nav class="left-nav">
            <ul>
                <li><a href="{% url 'invoice-list'%}">Invoices</a></li>
                <li><a href="{% url 'client-list' %}">Clients</a></li>
                <li><a href="{% url 'new-client' %}">Add New Client</a></li>
                <li><a href="{% url 'new-invoice' %}">Create Invoice</a></li>
            </ul>
        </nav>

    <div>
        <h2> Invoices </h2>
            <div class="invoices-list">

                <ol>
                    {% for invoice in object_list  %}
                        <li> <a href="{% url 'invoice-detail' invoice.pk %}">{{invoice.client}} {{ invoice.get_invoice_total }} {{ invoice.create_date}}</a> </li>
                    {% endfor %}
                </ol>


            </div>
    </div>

        {% comment %} {% if user.is_authenticated %}
                <p>Hi {{ user.username }}</p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Login</a>
            {% endif %} {% endcomment %}

{% endblock content %}

