{% extends 'base.html' %}

{% block content %}
    {% for invoice in object_list  %}
        <div class="invoice-entry">
            <h2>{{ invoice.title }}</a></h2>
            <p>{{ invoice.body }}</p>
        </div>
    {% endfor %}

    <div>
        {% for invoice in object_list  %}
            <div class="invoices-list">
               <ul>
                    {% comment %} <li> <a href="{% url 'invoice_detail' invoice.pk %}">{{ invoice.id }} {{invoice.client}} {{ invoice.get_invoice_total }} {{ invoice.create_date}}</a> </li> {% endcomment %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
